<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService" class="com.individual.project.MessageService">
        <property name="message" value="Hello Spring!"/>
    </bean>

        <bean id="messageServiceConstructor" class="com.individual.project.MessageService">
        <constructor-arg value="Hello from Constructor Injection!"/>
    </bean>

    <bean id="messageServiceSetter" class="com.individual.project.MessageService">
        <property name="message" value="Hello from Setter Injection!"/>
    </bean>
</beans>
